<!-- Auto collapsible section menu -->
<ul class="list-unstyled collapsible-sidebar">
  {{ $currentPage := . -}}
  <li class="mb-1">
    <button data-link="home" class="btn btn-toggle align-items-centers">
      <a class="docs-link rounded {{ if .IsHome }}active{{ end }}" href="{{ .Site.Home.Permalink }}">Home</a></li>
    </button>
  </li>
  {{ if .Site.Params.options.changelog}}
  <li class="mb-1">
    {{ $active := in $currentPage.RelPermalink "changelog" }}
    <button data-link="home" class="btn btn-toggle align-items-centers">
      <a class="docs-link rounded {{ if $active }}active{{ end }}" href="{{ .Site.Home.Permalink }}/changelog">Changelog</a></li>
    </button>
  </li>
  {{end}}
    {{ range .Site.Sections }}
    {{ if eq .Title "Search"}}
    {{else}}
    {{ $active := in $currentPage.RelPermalink .RelPermalink }}
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#section-{{ md5 .Title }}" aria-expanded="{{ if $active }}true{{ else }}false{{ end }}">
          {{ .Title }}
        </button>
        <div class="collapse{{ if $active }} show{{ end }}" id="section-{{ md5 .Title }}">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            {{ range .Pages }}
              {{ if .IsNode }}
                {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                <li class="my-1 ms-3">
                  <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#section-{{ md5 .Title }}" aria-expanded="{{ if $active }}true{{ else }}false{{ end }}">
                    {{ .Title }}
                  </button>
                  <div class="collapse{{ if $active }} show{{ end }}" id="section-{{ md5 .Title }}">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                      {{ range .Pages }}
                        {{ if .IsNode }}
                          {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                          <li class="my-1 ms-3">
                            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#section-{{ md5 .Title }}" aria-expanded="{{ if $active }}true{{ else }}false{{ end }}">
                              {{ .Title }}
                            </button>
                            <div class="collapse{{ if $active }} show{{ end }}" id="section-{{ md5 .Title }}">
                              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                {{ range .Pages }}
                                  {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                                  <li><a class="docs-link rounded{{ if $active }} active{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a></li>
                                {{ end }}
                              </ul>
                            </div>
                          </li>
                        {{ else }}
                          {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                          <li><a class="docs-link rounded{{ if $active }} active{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a></li>
                        {{ end }}
                      {{ end }}
                    </ul>
                  </div>
                </li>
              {{ else }}
                {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                <li><a class="docs-link rounded{{ if $active }} active{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a></li>
              {{ end }}
            {{ end }}
          </ul>
        </div>
      </li>
    {{ end }}
    {{ end }}
</ul>