{{ if and .Site.Params.menu.section.auto .Site.Params.menu.section.collapsibleSidebar -}}
  <!-- Auto collapsibile section menu, multi level -->
  <ul class="list-unstyled collapsible-sidebar">
    {{ $currentPage := . -}}
    {{ range (where .Site.Sections "Type" "in" site.Params.mainSections) }}
      {{ range .Sections.Reverse }}
        {{ $active := in $currentPage.RelPermalink .RelPermalink }}
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#section-{{ md5 .Title }}" aria-expanded="{{ if $active }}true{{ else }}false{{ end }}">
            {{ .Title }}
          </button>
          <div class="collapse{{ if $active }} show{{ end }}" id="section-{{ md5 .Title }}">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              {{ range .Pages }}
                {{ if .IsNode }}
                  {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                  <li class="my-1 ms-3">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#section-{{ md5 .Title }}" aria-expanded="{{ if $active }}true{{ else }}false{{ end }}">
                      {{ .Title }}
                    </button>
                    <div class="collapse{{ if $active }} show{{ end }}" id="section-{{ md5 .Title }}">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        {{ range .Pages }}
                          {{ if .IsNode }}
                            {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                            <li class="my-1 ms-3">
                              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#section-{{ md5 .Title }}" aria-expanded="{{ if $active }}true{{ else }}false{{ end }}">
                                {{ .Title }}
                              </button>
                              <div class="collapse{{ if $active }} show{{ end }}" id="section-{{ md5 .Title }}">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                  {{ range .Pages }}
                                    {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                                    <li><a class="docs-link rounded{{ if $active }} active{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a></li>
                                  {{ end }}
                                </ul>
                              </div>
                            </li>
                          {{ else }}
                            {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                            <li><a class="docs-link rounded{{ if $active }} active{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a></li>
                          {{ end }}
                        {{ end }}
                      </ul>
                    </div>
                  </li>
                {{ else }}
                  {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                  <li><a class="docs-link rounded{{ if $active }} active{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{ end }}
              {{ end }}
            </ul>
          </div>
        </li>
      {{ end }}
    {{ end }}
  </ul>
{{ else if and .Site.Params.menu.section.auto (not .Site.Params.menu.section.collapsibleSidebar) -}}
  <!-- Auto default section menu, single level -->

{{ else if and (not .Site.Params.menu.section.auto) .Site.Params.menu.section.collapsibleSidebar -}}
  <!-- Manual collapsibile section menu, multi level -->
  <ul class="list-unstyled collapsible-sidebar">
    {{ $currentPage := . -}}
    {{ range $index, $element := .Site.Menus.docs -}}
      {{- $active := or ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) -}}
      {{- $active = or $active (eq $currentPage.Section .Identifier) -}}
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#section-{{ .Identifier }}" aria-expanded="{{ if $active }}true{{ else }}false{{ end }}">
          {{ .Name }}
        </button>
        {{ if .HasChildren -}}
          <div class="collapse{{ if $active }} show{{ end }}" id="section-{{ .Identifier }}">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              {{ range .Children -}}
                {{ if .HasChildren -}}
                  <li class="my-1 ms-3">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#section-{{ .Identifier }}" aria-expanded="{{ if $active }}true{{ else }}false{{ end }}">
                      {{ .Name }}
                    </button>
                    {{ if .HasChildren -}}
                      <div class="collapse{{ if $active }} show{{ end }}" id="section-{{ .Identifier }}">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                          {{ range .Children -}}
                            {{ if .HasChildren -}}
                              <li class="my-1 ms-3">
                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#section-{{ .Identifier }}" aria-expanded="{{ if $active }}true{{ else }}false{{ end }}">
                                  {{ .Name }}
                                </button>
                                {{ if .HasChildren -}}
                                  <div class="collapse{{ if $active }} show{{ end }}" id="section-{{ .Identifier }}">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    {{ range .Children -}}
                                      {{- $active := or ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) -}}
                                      {{- $active = or $active (eq $currentPage.Section .Identifier) -}}
                                      <li><a class="docs-link rounded{{ if $active }} active{{ end }}" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                                    {{ end -}}
                                    </ul>
                                  </div>
                                {{ end -}}
                              </li>
                            {{ else -}}
                              {{- $active := or ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) -}}
                              {{- $active = or $active (eq $currentPage.Section .Identifier) -}}
                              <li><a class="docs-link rounded{{ if $active }} active{{ end }}" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                            {{ end -}}
                          {{ end -}}
                        </ul>
                      </div>
                    {{ end -}}
                  </li>
                {{ else -}}
                  {{- $active := or ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) -}}
                  {{- $active = or $active (eq $currentPage.Section .Identifier) -}}
                  <li><a class="docs-link rounded{{ if $active }} active{{ end }}" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                {{ end -}}
              {{ end -}}
            </ul>
          </div>
        {{ end -}}
      </li>
    {{ end -}}
  </ul>
{{ else if and (not .Site.Params.menu.section.auto) (not .Site.Params.menu.section.collapsibleSidebar) -}}
  <!-- Manual default section menu, single level -->
  {{ $currentPage := . -}}
  {{ range .Site.Menus.docs -}}
    <h3 class="h6 text-uppercase mb-2">{{ .Name }}</h3>
    {{ if .HasChildren -}}
      <ul class="list-unstyled">
        {{ range .Children -}}
          {{ if .HasChildren -}}
            <h4 class="h6 text-uppercase ms-3 mt-3 mb-2">{{ .Name }}</h4>
            {{ if .HasChildren -}}
              <ul class="list-unstyled ms-3">
                {{ range .Children -}}
                  {{ if .HasChildren -}}
                    <h5 class="h6 text-uppercase mt-2 mb-2">{{ .Name }}</h5>
                    {{ if .HasChildren -}}
                      <ul class="list-unstyled ms-3">
                        {{ range .Children -}}
                          {{- $active := or ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) -}}
                          {{- $active = or $active (eq $currentPage.Section .Identifier) -}}
                          <li><a class="docs-link{{ if $active }} active{{ end }}" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                        {{ end -}}
                      </ul>
                    {{ end -}}
                  {{ else -}}
                    {{- $active := or ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) -}}
                    {{- $active = or $active (eq $currentPage.Section .Identifier) -}}
                    <li><a class="docs-link{{ if $active }} active{{ end }}" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                  {{ end -}}
                {{ end -}}
              </ul>
            {{ end -}}
          {{ else -}}
            {{- $active := or ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) -}}
            {{- $active = or $active (eq $currentPage.Section .Identifier) -}}
            <li><a class="docs-link{{ if $active }} active{{ end }}" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end -}}
        {{ end -}}
      </ul>
    {{ end -}}
  {{ end -}}
{{ end -}}
