<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ .Site.Params.twitterSite }}">
<meta name="twitter:creator" content="{{ .Site.Params.twitterCreator }}">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ .Description }}">
{{ with $.Params.images -}}
  {{ range first 6 . -}}
    {{ $image := $.Resources.GetMatch (printf "**%s" . ) }}
    {{ if not $image -}}
      {{ $image = resources.Get (printf "%s%s" "images/" . ) }}
    {{ end -}}
    <meta name="twitter:image" content="{{ $image.Permalink }}">
  {{ end -}}
{{ else -}}
  {{ $images := $.Resources.ByType "image" -}}
  {{ $featured := $images.GetMatch "*feature*" -}}
  {{ if not $featured -}}
    {{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" -}}
  {{ end -}}
  {{ with $featured -}}
    <meta name="twitter:image" content="{{ $featured.Permalink }}">
  {{ else -}}
    {{ with $.Site.Params.images -}}
      <meta name="twitter:image" content="{{ index . 0 | absURL }}">
    {{ else -}}
      <meta name="twitter:card" content="summary">
    {{ end -}}
  {{ end -}}
{{ end -}}
<meta name="twitter:image:alt" content="{{ .Title }}">
