{{ $filePath := replace .File.Path "\\" "/" }}
{{ $editPath := "null" }}

{{ if (eq .Site.Params.repoHost "GitHub") }}
  {{ $editPath = "/blob/" }}
{{ else if (eq .Site.Params.repoHost "Gitea") }}
  {{ $editPath = "/_edit/" }}
{{ else if (eq .Site.Params.repoHost "GitLab") }}
  {{ $editPath = "/-/blob/" }}
{{ end }}

{{ $contentPath := print .Site.Params.docsRepo $editPath .Site.Params.docsRepoBranch "/content/" }}

{{ $url := print $contentPath $filePath }}

{{ if .Site.Params.options.multilingualMode }}
  {{ $url = print $contentPath .Lang "/" $filePath }}
{{ end }}

<p class="edit-page">
  <a href="{{ $url }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2">
      <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
    </svg>
    Edit this page on {{ .Site.Params.repoHost }}
  </a>
</p>
