.image-slider {
    position: relative;
    display: inline-block;
    line-height: 0;
}

.image-slider img {
    user-select: none;
    max-width: 70vw;
}

.image-slider > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2%;
    max-width: 100%;
    overflow: hidden;
    resize: horizontal;
    border-right: 3px rgba(255, 253, 253, 0.432) solid;
    box-sizing: border-box;
	animation: slidejitter 2s ease-in-out 0.1s 1;
}

.image-slider > div:before {
    position: absolute;
    bottom: 3px;
    right: 3px;
    content: "";
    display: block;
    height: 3vw;
    width: 3vw;
    box-shadow: 3px 6px 2px 0 black;
    overflow: hidden;
    resize: horizontal;
    background-clip: content-box;
    background: linear-gradient(-45deg, white 50%, transparent 0);
}


@keyframes slidejitter {
    25% {
        width: 2%;
    }
    75% {
        width: 5%;
    }

	100% {
        width: 2%;
    }
}


@media (min-width: 600px) {
    .image-slider img {
        max-width: 50vw;
    }
    .image-slider > div:before {
        width: 2vw;
        height: 2vw;
    }
}

@media (min-width: 1200px) {
    .image-slider img {
        max-width: 40vw;
    }
    .image-slider div {
        width: 10%;
    }
    .image-slider > div:before {
        width: 1vw;
        height: 1vw;
    }
}
