.navbar-form {
  position: relative;
}

#search {
  border: 1px solid $gray-300;
}

[data-dark-mode] #search {
  border: 1px solid $gray-700;
}

#start-search-btn {
  border: 1px solid #dee2e6 !important;
  border-radius: 0.25rem;
  background: #f8f9fa !important;
  color: $black;
}

#start-search-btn img {
  width: auto;
  height: auto;
  object-fit: cover;
  max-width: 100%;
}

[data-dark-mode] #start-search-btn {
  color: $body-color-dark;
  background: #1b1f22 !important;
  border: 1px solid $gray-700 !important;
}

[data-dark-mode] #start-search-btn img {
  filter: invert(1);
}

body>#suggestions {
  position: fixed;
  margin-top: 0.5rem;
}

.doks-subnavbar div {
  flex-flow: column;
}

#suggestions {
  left: 0;
  width: 100% !important;
  z-index: 999;
  --bs-bg-opacity: 1;
  background: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}

#suggestions-wrapper {
  width: 100%;
  margin-top: 0.5rem;
}

#loader-container {
  margin-top: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

[data-dark-mode] #suggestions {
  --bs-bg-opacity: 1;
  background: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

[data-dark-mode] #suggestions,
#suggestions a {
  color: $body-color-dark;
}

[data-dark-mode] #suggestions a {
  color: $body-color-dark;
}

[data-dark-mode] #suggestions a:hover,
[data-dark-mode] #suggestions a:focus {
  background: var(--bs-gray-700);
}

#suggestions a,
.suggestion__no-results {
  padding: 0.75rem;
  margin: 0 0.5rem;
}

#suggestions a {
  display: block;
  text-decoration: none;
}

#suggestions a:focus {
  background: $gray-100;
  outline: 0;
}

#suggestions>div:not(:first-child) {
  border-top: 1px dashed $gray-200;
}

#suggestions>div:first-child {
  margin-top: 0.5rem;
}

#suggestions>div:last-child {
  margin-bottom: 0.5rem;
}

#suggestions a:hover {
  background: $gray-100;
}

#suggestions span {
  display: flex;
  font-size: $font-size-base;
}

[data-dark-mode] .suggestion__title {
  color: $body-color-dark;
}

.suggestion__title {
  width: 100%;
  font-weight: $headings-font-weight;
  margin-bottom: 0.5rem;
  color: $black;
  overflow-wrap: break-word;
}

.suggestion__description,
.suggestion__description_all,
.suggestion__no-results {
  color: $gray-700;
  width: 70%;
  overflow-wrap: anywhere;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
}

[data-dark-mode] .suggestion__description {
  color: $body-color-dark;
}

[data-dark-mode] .suggestion__description_all {
  color: $body-color-dark;
}

[data-dark-mode] .suggestion__no-results {
  color: $body-color-dark;
}

.suggestion__description,
.suggestion__no-results {
  white-space: pre !important;
}

.suggestion__description_all {
  display: block !important;
}

#pagination {
  display: flex;
  justify-content: center;
}

#pagination button {
  background-color: none;
  border-radius: 5px;
  border: 1px solid $gray-300;
  margin: 5px;
}

[data-dark-mode] #pagination button {
  background-color: $gray-900;
  border-radius: 5px;
  border: 1px solid $gray-700;
  margin: 5px;
  color: $body-color-dark;
}

#pagination button.btn-active {
  transform: scale(1.2);
  border: 1px solid $black;
}

[data-dark-mode] #pagination button.btn-active {
  border: 1px solid $gray-300;
}

#pagination button:hover {
  background: $gray-100;
}

[data-dark-mode] #pagination button:hover {
  background: $gray-300;
  color: $gray-900;
}

@include media-breakpoint-up(sm) {
  #suggestions {
    width: 31.125rem;
  }

  #suggestions a {
    display: flex;
  }

  .suggestion__title {
    width: 20%;
    padding-right: 1rem;
    border-right: 1px solid $gray-200;
    display: inline-block;
    text-align: right;
    margin-bottom: 0;
  }

  .suggestion__description,
  .suggestion__description_all {
    padding-left: 1rem;
  }
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}