{{ define "main" }}
<section class="section container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-11 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
      <p class="lead">{{ .Params.Lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ .Site.BaseURL }}docs/prologue/introduction/" role="button">Get started</a>
      <p><a class="btn btn-link btn-sm" href="https://github.com/h-enk/doks" target="_blank" rel="noreferrer noopener" role="button">{{ .Site.Params.version }}</a></p>
    </div>
  </div>
</section>
<section class="section container-fluid border-top">
  {{- .Content -}}
</section>
{{ end }}