{{ if .Site.Params.alert -}}
  {{ partial "header/alert.html" . }}
{{ end -}}

{{ if eq .Site.Params.options.flexSearch false -}}
<div class="sticky-sm-top">
{{ end -}}

<header class="navbar navbar-expand-lg navbar-light doks-navbar">
  <nav class="container-xxl justify-content-start" aria-label="Main navigation">
    <button class="btn btn-menu d-block d-lg-none order-0 m-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDoks" aria-controls="offcanvasDoks" aria-label="Open main menu">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
    </button>
    <a class="navbar-brand p-0 me-auto coh-title" href="{{ .Site.Home.Permalink }}" aria-label="{{ .Site.Params.Title }}">{{ .Site.Params.Title }}</a>

    <div class="offcanvas offcanvas-start border-0 py-md-1 order-1" tabindex="-1" id="offcanvasDoks" data-bs-backdrop="true" aria-labelledby="offcanvasDoksLabel">
      <div class="offcanvas-header d-lg-none">
        <h2 class="h5 offcanvas-title ps-2" id="offcanvasDoksLabel"><a class="text-dark" href="{{ .Site.Home.Permalink }}">{{ .Site.Params.Title }}</a></h2>
        <button type="button" class="btn-close text-reset me-2" data-bs-dismiss="offcanvas" aria-label="Close main menu"></button>
      </div>
      <div class="offcanvas-body px-4 d-md-flex flex-column">
        <ul class="nav flex-md-row ms-lg-auto me-lg-n5 pe-lg-3 d-sm-flex d-md-none d-lg-flex">
          {{ range .Site.Menus.social -}}
            <li class="nav-item">
              <a class="nav-link ps-0 py-1" href="{{ .URL }}">{{ .Pre | safeHTML }}<small class="ms-2 d-none">{{ .Name | safeHTML }}</small></a>
            </li>
          {{ end -}}
          {{ if .Site.Params.options.darkMode -}}
          <li class="toggle-theme-mode nav-item btn-link ps-0 py-1 m-0" type="button" aria-label="Toggle user interface mode">
            <span class="toggle-dark"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg></span>
            <span class="toggle-light"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg></span>
          </li>
          {{ end -}}
          {{ if eq .Site.Params.options.multilingualMode true -}}
          <div class="dropdown order-md-2 d-md-none d-lg-block">
            <button class="btn btn-doks-light dropdown-toggle" id="doks-languages" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
              {{ .Site.Params.languageISO }}
              <span class="dropdown-caret"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end shadow rounded border-0" aria-labelledby="doks-languages">
      
              <li><a class="dropdown-item current" aria-current="true" href="{{ .RelPermalink }}">{{ .Site.Language.LanguageName }}</a></li>
      
              <li><hr class="dropdown-divider"></li>
      
            {{ if .IsTranslated -}}
              {{ range .Translations }}
                <li><a class="dropdown-item" rel="alternate" href="{{ .RelPermalink }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">{{ .Language.LanguageName }}</a></li>
              {{ end -}}
            {{ else -}}
              {{ range .Site.Languages -}}
                {{ if ne $.Site.Language.Lang .Lang }}
                  <li><a class="dropdown-item" rel="alternate" href="{{ .Lang | relLangURL }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">{{ .LanguageName }}</a></li>
                {{ end -}}
              {{ end -}}
            {{ end -}}
              <!--
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/docs/contributing/how-to-contribute/">Help Translate</a></li>
              -->
            </ul>
          </div>
          {{ end -}}
        </ul>
        <div class="d-lg-none">
          {{ partial "sidebar/docs-menu.html" . }}
        </div>
      </div>
    </div>

    <div class="d-md-flex d-none d-lg-none">
      <ul class="nav flex-column flex-md-row ms-lg-auto me-lg-n5 pe-lg-3">
        {{ range .Site.Menus.social -}}
          <li class="nav-item">
            <a class="nav-link ps-0 py-1" href="{{ .URL }}">{{ .Pre | safeHTML }}<small class="ms-2 d-md-none">{{ .Name | safeHTML }}</small></a>
          </li>
        {{ end -}}
        {{ if .Site.Params.options.darkMode -}}
        <li class="toggle-theme-mode nav-item btn-link ps-0 py-1 m-0" type="button" aria-label="Toggle user interface mode">
          <span class="toggle-dark"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg></span>
          <span class="toggle-light"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg></span>
        </li>
        {{ end -}}
        {{ if eq .Site.Params.options.multilingualMode true -}}
        <div class="dropdown order-md-2">
          <button class="btn btn-doks-light dropdown-toggle" id="doks-languages" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
            {{ .Site.Params.languageISO }}
            <span class="dropdown-caret"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end shadow rounded border-0" aria-labelledby="doks-languages">
    
            <li><a class="dropdown-item current" aria-current="true" href="{{ .RelPermalink }}">{{ .Site.Language.LanguageName }}</a></li>
    
            <li><hr class="dropdown-divider"></li>
    
          {{ if .IsTranslated -}}
            {{ range .Translations }}
              <li><a class="dropdown-item" rel="alternate" href="{{ .RelPermalink }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">{{ .Language.LanguageName }}</a></li>
            {{ end -}}
          {{ else -}}
            {{ range .Site.Languages -}}
              {{ if ne $.Site.Language.Lang .Lang }}
                <li><a class="dropdown-item" rel="alternate" href="{{ .Lang | relLangURL }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">{{ .LanguageName }}</a></li>
              {{ end -}}
            {{ end -}}
          {{ end -}}
            <!--
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/docs/contributing/how-to-contribute/">Help Translate</a></li>
            -->
          </ul>
        </div>
        {{ end -}}
      </ul>
    </div>
  </nav>
</header>

{{ if eq .Site.Params.options.flexSearch false }}
</div>
{{ end -}}

{{ if eq .Title "Search"}}
{{else}}
<nav class="doks-subnavbar py-2 sticky-sm-top{{ if eq .Site.Params.options.flexSearch false }} d-lg-none{{ end }}" aria-label="Secondary navigation">
  <div class="container-xxl d-flex align-items-md-center">
    <div class="d-flex flex-row justify-content-between w-100">
      {{ if .Site.Params.options.flexSearch -}}
        <div class="doks-search d-inline-flex me-auto placeholder-glow">
          <form id="form-search" class="doks-search position-relative me-md-auto d-flex">
            <input id="search" class="form-control is-search me-2" type="search" placeholder="Search..."
              aria-label="Search..." autocomplete="off">
            <button id="start-search-btn" type="submit" style="background: none; border:none; width: 38px; height: 38px;">
              <img src="/GameUIComponents/images/search.png">
            </button>
          </form>
        </div>
        {{ if eq .Site.Params.options.docsVersioning true -}}
        <span class="navbar-text fs-6 d-block">v{{ .Site.Params.docsVersion }}</span>
        {{ end -}}
      {{ end -}}
    </div>
    
    {{ if eq .Title "Search"}}
    {{ else }}
    <div id="suggestions-wrapper">
      <div id="suggestions" class="shadow rounded d-none"></div>
      <div id="loader-container" class="shadow rounded d-none">
        <div class="loader"></div>
        <span>Loading results. Please wait...</span>
      </div>
    </div>
    {{ end -}}
  </div>
</nav>
{{ end -}}
