@font-face {
  font-family: Jost;
  src: local("Jost"), url(/fonts/vendor/jost/Jost-400-Book.otf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Jost;
  src: local("Jost"), url(/fonts/vendor/jost/Jost-400-BookItalic.otf);
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: Jost;
  src: local("Jost"), url(/fonts/vendor/jost/Jost-500-Medium.otf);
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Jost;
  src: local("Jost"), url(/fonts/vendor/jost/Jost-500-MediumItalic.otf);
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

/*
@font-face {
  font-family: Jost;
  src: local("Jost"), url(/fonts/vendor/jost/Jost-600-Semi.otf);
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: Jost;
  src: local("Jost"), url(/fonts/vendor/jost/Jost-600-SemiItalic.otf);
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: Jost;
  src: local("Jost"), url(/fonts/vendor/jost/Jost-700-Bold.otf);
  font-weight: 700;
  font-display: swap;
}
*/
